@import '../../../styles/settings.scss';

.card {
  width: 80%;
  max-width: 100vw;
  height: auto;
  margin: 2rem auto;
  .btnContaier {
    padding: 16px;
  }

  .btnRemarks {
    border: none;
    background-color: white;
    text-decoration: underline;
    cursor: pointer;
  }
  .remarks {
    width: 60%;
  }

  .qtyBtn {
    border: none;
    background-color: white;
    color: $color-primary;
    font-size: 1.5rem;
    padding: 0.5rem;
  }

  .qtyInput {
    width: 50px;
    text-align: center;
    padding: 0.2rem;
    border-color: $color-primary;

    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
    &:focus {
      outline-color: $color-primary;
    }
  }

  .btn {
    width: 100px;
    height: 50px;
    background-color: $color-text-light;
    border-radius: $radius;
    color: $color-primary;
    font-family: $font-family;
    outline: none;
    border: 2px solid $color-primary;
    &:hover {
      cursor: pointer;
    }
  }
  .shake {
    animation: animate 0.4s;
  }
}

@keyframes animate {
  0% {
    transform: rotate(0deg) translate(0px);
  }
  25% {
    transform: rotate(-20deg) translate(-10px);
  }
  5% {
    transform: rotate(0deg) translate(0px);
  }
  100% {
    transform: rotate(20deg) translate(10px);
  }
}
