@import '../../../styles/settings.scss';

.card {
  width: 80%;
  max-width: 100vw;
  height: auto;
  margin: 2rem auto;
  .btnContaier {
    padding: 16px;
  }

  .btnRemarks {
    border: none;
    background-color: white;
    text-decoration: underline;
    cursor: pointer;
  }
  .remarks {
    width: 60%;
  }

  .qtyBtn {
    border: none;
    background-color: white;
    color: $color-primary;
    font-size: 1.5rem;
    padding: 0.5rem;
  }

  .qtyInput {
    width: 50px;
    text-align: center;
    padding: 0.2rem;
    border-color: $color-primary;

    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
    &:focus {
      outline-color: $color-primary;
    }
  }

  .btn {
    width: 100px;
    height: 50px;
    background-color: $color-text-light;
    border-radius: $radius;
    color: $color-primary;
    font-family: $font-family;
    outline: none;
    border: 2px solid $color-primary;
    &:hover {
      cursor: pointer;
    }
  }
  .shake {
    animation: animate 0.4s;
  }
  .flyOutContainer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(26, 25, 25, 0.9);
    // text-align: center;
    transition: all ease-in-out 0.25s;
    z-index: 999;
  }
  .flyOut {
    position: fixed;
    top: 0;
    width: 420px;
    min-height: 100vh;
    bottom: 0;
    right: 0;
    z-index: 10000;
    background-color: $color-white-smoke;
    visibility: hidden;
    opacity: 0;
    transition: $transition-flyer;
    transform: translate(200px, 0);
    -webkit-transform: translate(200px, 0);
    box-shadow: 0px 0px 87px 0px rgba(0, 0, 0, 0.09);
  }

  .visible {
    visibility: visible;
    opacity: 1;
  }

  .flyoutContent {
    height: 100%;
    margin: 2rem;
    z-index: 3000;
    button {
      margin: 1rem 0;
      font-size: 0.7rem;
      height: 30px;
    }
    p {
      width: 150px;
    }
  }
}

@keyframes animate {
  0% {
    transform: rotate(0deg) translate(0px);
  }
  25% {
    transform: rotate(-20deg) translate(-10px);
  }
  5% {
    transform: rotate(0deg) translate(0px);
  }
  100% {
    transform: rotate(20deg) translate(10px);
  }
}
