@import './settings.scss';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-family;
  color: $color-text-dark;
  background: $color-background;
  line-height: 1.7;
  letter-spacing: 0.5px;
}

[aria-current]:not([aria-current='false']) {
  font-weight: bold;
  color: $color-primary;
}
.nav-link {
  color: $color-primary;
  margin: 0.5rem;
  &:hover {
    font-weight: bold;
  }
}

a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: $color-text-dark;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
