@import './settings.scss';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-family;
  color: $color-text-dark;
  background: $color-background;
  line-height: 1.7;
  letter-spacing: 0.5px;
}

[aria-current]:not([aria-current='false']) {
  font-weight: bold;
  color: $color-primary;
}

// nav and links
.nav-link {
  color: $color-primary;
  margin: 0.5rem;
  &:hover {
    font-weight: bold;
  }
}

a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: $color-text-dark;
}

// flex
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// login, register, address inputs
.inputContainer {
  position: relative;
  margin-bottom: 25px;
}
.inputContainer label {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 16px;
  color: $color-text-dark;
  transition: all 0.5s ease-in-out;
}
.inputContainer input {
  border: 0;
  border-bottom: 2px solid $color-text-dark;
  background: transparent;
  width: 100%;
  padding: 8px 0 8px 0;
  font-size: 20px;
  color: $color-text-dark;
}
.inputContainer input:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid $color-primary;
}

.inputContainer input:focus ~ label,
.inputContainer input:valid ~ label {
  top: -22px;
  font-size: 16px;
  color: $color-primary;
}

// nav rwd
@media (max-width: 991px) {
  #responsive-nav {
    width: 90vw;
  }
  .dropdown-menu {
    width: 90%;
  }
}
